<header role="banner">
  <div class="align-center"><a href="/site_0.xhtml">
  <img class="" src="assets/logo.png" width="150px"> 
  </a>

  <nav role="navigation" id="">
    <ul>
      <!-- <li><a routerLink="new-add">Add a Site </a></li>
      <li><a routerLink="new-historique">List Site</a></li>
      <li><a routerLink="new-contact">Contact</a></li> -->
    </ul>
  </nav>
  </div>
  
  </header>
<div id="conter">
 <div id="container">
  <app-add></app-add>
  <div style="padding: 15px 0px;background: #E8EDEA;text-align:center;border-top:1px solid #cccfff;font-family:animevncms;">
    Powered by Jamal roger<br>
    © 2018 - 2019
   </div>

  </div>

</div>

 

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
